"*":
  "clang-format":
    formatCOnSave: true
    formatCPlusPlusOnSave: true
  core:
    audioBeep: false
    disabledPackages: [
      "whitespace"
    ]
    packagesWithKeymapsDisabled: [
      "keyboard-scroll"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    fontFamily: "Source Han Code JP"
    fontSize: 12
    showIndentGuide: true
  "exception-reporting":
    userId: "e300bff8-b622-4b4e-aabd-9a5c80e65240"
  "markdown-writer":
    fileExtension: ".md"
    relativeImagePath: true
  "tree-view":
    autoReveal: true
    focusOnReveal: false
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    removeTrailingWhitespace: false
".powershell.source":
  editor:
    autoIndent: true
    autoIndentOnPaste: true
    showIndentGuide: true
    tabLength: 2
